.App{
  color: black;
}

#default-homepage-main{
display: flex;
height: 600px;
}

#homepage-main-image{
  width: auto;
  height: 84vh;
  display: flex;
}

#default-homepage-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 80vw;
}

#homepage-left-container{
  width: 500px;
  display: flex;
  flex-direction: column;
  
}

#motivional-quote{
  text-align: left;
  margin-left: 100px;
  font-size: 50px;
  width: 500px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  margin-top: 0px;
}

.button {
  background-color: white;
  border: solid 1px black;
  font-family: 'Noto Sans', sans-serif;
  border-radius: 20px;
  width: 200px;
  height: 30px;
}

.button:hover{
  border: solid 2px black;
}

#default-homepage-routine-button{
  margin-left: 100px;
}

#header-main-div{
display: flex;
flex-direction: column;
background-color: white;
color: black;
}

#header-top-row{
  display: flex;
  justify-content: space-between;
}

#login-link{
  margin-right: 50px;
  font-weight: 700;
  margin-top: 45px;
  background-color: white;
  border:none;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  height: 30px;
  width: 200px;
}

#login-link:hover{
border-radius: 20px;
background-color:rgb(227, 227, 227)

}

.nav-bar-link{
background-color: black;
font-family: 'Noto Sans', sans-serif;
font-weight: 700;
color: white;
border: none;
font-size: 14px;
padding-bottom: 20px;
margin-right: 20px;
}

.nav-bar-link:hover{
  text-decoration: underline;
}

#nav-bar{
  background-color: black;
  padding-left: 100px;
  padding-top: 15px;
  
}

#site-main-logo{
  font-family: 'Jost', sans-serif;
  margin-left: 105px;
  padding-top: 10px;
  color: black;
  text-decoration: none;
}

#site-main-logo:hover{
  color: rgb(69, 69, 69);
}

a {
text-decoration: none;
}

#register-main-div{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  font-family: 'Noto Sans', sans-serif;
}

#password-div{
  display: flex;
  flex-direction: column;
}

#username{

  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

#register-button{

  background-color: black;
  color:white;
  font-family: 'Noto Sans', sans-serif;
  border:none;
  border-radius: 20px;
  height: 30px;
  width: 100px;
  margin-top: 20px;
  font-size: 14px;
}

#register-button:hover{

  border: solid 2px black;
  background-color: white;
  color: black;
  
}

#register-button-div{

  display: flex;
  justify-content: center;
}

#confirm-password{
  margin-top: 15px;
}

#sign-in-link{
  font-size: 13px;
  color: rgb(96, 96, 96);
  margin-top: 30px;
}

#sign-in-link:hover{
  text-decoration: underline;
}

#login-main-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  font-family: 'Noto Sans', sans-serif;

}

#login-button-div{

  display: flex;
  justify-content: center;
}

#login-button{

  background-color: black;
  color:white;
  font-family: 'Noto Sans', sans-serif;
  border:none;
  border-radius: 20px;
  height: 30px;
  width: 100px;
  margin-top: 20px;
  font-size: 14px;
}

#login-button:hover{

  border: solid 2px black;
  background-color: white;
  color: black;
}


#register-link{
  font-size: 13px;
  color: rgb(96, 96, 96);
  margin-top: 30px;
}

#register-link:hover{
  text-decoration: underline;
}

#login-page-header{

  text-align: center;
}

#create-acc-header{

  text-align: center;
}

.routine{
  display: flex;
  flex: column;
  margin-left: 150px;
  border: solid 1px black;
  margin-bottom: 60px;
  flex-direction: column;
  width: 60vw;
}

#public-routines-main-div{
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
}

#routine-title{
  font-weight: bold;
  background-color: rgb(202, 202, 202);
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 5px;
  font-family: 'Noto Sans', sans-serif;
}

#creator-name-div{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 5px;
  display: flex;
}

#creator-name{
  margin-top: 0px;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
  margin-bottom: 0px; 
}

#routine-creator-label{
  margin-top: 0px;
  margin-left: 5px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 13px;
  color: grey;
  padding-top: 2px;
  margin-bottom: 0px;
}

#routine-goal-div{
  
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
  display: flex;
  border-top: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
  justify-content: space-between;
}

#routine-goal-label{
  margin-top: 0px;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px; 
}

#routine-goal{
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  margin-top: 0px;
  margin-left: 3px;
}

#login-or-reg-to-post{
  border: solid 1px black;
  font-family: 'Noto Sans';
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#want-to-start-sharing-button{
  background-color: black;
  color: white;
}

#want-to-start-sharing-button:hover{
  color: black;
  background-color: white;
}

.activity-card{
  border-bottom: solid 1px black;
}

#activities-sec-header{
  padding-left: 5px;
  font-family: 'Noto Sans', sans-serif;
  color: black;
  font-weight: bold;
  padding-top: 3px;
  margin-bottom: 0px;
  padding-bottom: 3px;
  margin-top: 0px;
  font-size: 14px;
  background-color: rgb(202, 202, 202);
}

#activity-name{
  width: 400px;
  margin-top: 0px;
  margin-bottom: 0px; 
  margin-right: 0px;
  padding-top: 17px;
  padding-left: 5px;
  font-family: 'Noto Sans', sans-serif;
}
.activity-first-row{
display: flex;
flex-direction: row;
}

#duration-div{
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  margin-left: 20px;
}

#count-div{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

#duration-label{
  font-weight: 700;
  font-family: 'Noto Sans', sans-serif;
  margin-right: 5px;
}

#count-label{
  font-weight: 700;
  font-family: 'Noto Sans', sans-serif;
  margin-right: 5px;
}

#duration{
  padding-top: 2px;
}

#count{
  padding-top: 2px;
}

#activity-description{
  padding-left: 5px;
}

#no-activities-to-show{
  margin-left: 5px;
}

#footer-main-div{
  background-color: black;
  height: 150px;
  padding-top: 15px;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contact-us-div{
  margin-left: 30px;
 
}

#copyright-div{
  padding-top: 60px;
  padding-right: 30px;
}

#public-routines-header{
  margin-left: 150px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 40px;
  margin-top: 0px;
}

#logout-button{
  margin-right: 60px;
  font-weight: 700;
  margin-top: 45px;
  background-color: white;
  border:none;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  height: 30px;
  width: 100px;
}

#logout-button:hover{
  border-radius: 20px;
  background-color:rgb(227, 227, 227)
  
  }

  #create-routine-main-div{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    min-height: 400px;
    width: 300px;
    margin-top: 80px;
    font-family: 'Noto Sans', sans-serif;

  }

  #new-routine-header{
    padding-left: 10px;
  }

  #new-routine-name-div{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }

  #new-routine-goal-div{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .new-routine-label{
    color: rgb(93, 93, 93);
    font-size: 14px;
  }

  
.new-routine-labels{
    width: 250px;
  }

  #new-routine-priv-or-pub{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #private-or-public{
    text-align: center;
    width: 250px;
  }

  #pub-or-priv-buttons-div{
    width: 300px;
    display: flex;
    justify-content: space-evenly;
  }

  .pub-or-priv-button{
    width: 100px;
    background-color: white;
    font-family: 'Noto Sans', sans-serif;
    height: 25px;
    border: solid 1px black;
    font-size: 15px;
  }

  .pub-or-priv-button:hover{
    background-color: black;
    color: white
  }
  .pub-or-priv-button:focus{
    background-color: black;
    color: white;
    font-weight: 700;
  }

  #create-routine-button-div{
    display: flex;
    justify-content: center;
  }

  #create-routine-button{

    background-color: black;
    color:white;
    font-family: 'Noto Sans', sans-serif;
    border:none;
    border-radius: 20px;
    height: 30px;
    width: 250px;
    margin-top: 40px;
    font-size: 14px;
  }
  
  #create-routine-button:hover{
  
    border: solid 2px black;
    background-color: white;
    color: black;
  }

  #thanks-main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 0px;
    padding-bottom: 40px;
    height: 70vh;
  }

  #new-routine-activity-div{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .new-activity-label{
    color: rgb(93, 93, 93);
    font-size: 14px;
    font-weight: 700;
  }

  #activity-desc-label{
    color: rgb(93, 93, 93);
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  #add-activity-button{
    background-color: black;
    color:white;
    font-family: 'Noto Sans', sans-serif;
    border:none;
    border-radius: 20px;
    height: 30px;
    width: 250px;
    margin-top: 20px;
    font-size: 14px;
    margin-left: 0px;
    margin-bottom: 10px;
  }

  #create-new-activity-button-div{
    display: flex;
    justify-content: center;
    
  }

  #add-activity-button:hover{
    background-color: white;
    color: black;
    border: solid 2px black;
  }

  #activity-input-box{
    margin-bottom: 15px;
  }

  #my-routines-main-div{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;

  }

  #my-routines-header{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    margin-top: 0px;
  }

  .my-routine{
    display: flex;
    flex: column;
   
    border: solid 1px black;
    margin-bottom: 60px;
    flex-direction: column;
    width: 60vw;
    min-height: 600px;
  }

  #main-activities-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 50px;
  }

  #activity-div-activities{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    width: 60vw;
    margin-bottom: 40px;
  }

  #activity-title-div-activities{
    display: flex;
    border-bottom: solid 1px black;
    padding-left: 15px;
  }

  .activity-label-activities{
    font-weight: 700;
    margin-right: 10px;
    
  }

  #activity-desc-div-activities{
    display: flex;
    padding-left: 15px;
  }

  #activities-header{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    margin-top: 0px;
  }


  #add-activity-top-row{
    display: flex;
    justify-content: space-around;
  }

  .new-activity-label{
    margin-left: 15px;
  }

  #activity-desc-div{
    margin-left: 15px;
  }

  #activity-description-box{
    width: 600px;
  }

  #my-activity-description{
    margin-left: 5px;
    font-weight: 700;
  }

  #activity-title-div{
    width: 400px;
    display: flex;
    margin-left: 5px;
  }

  #activity-name{
    width: 200px;
  }

  #add-activity-main{
    margin-top: 20px;
  }

  #routine-title-div{
    display: flex;
    justify-content: space-between;
    background-color: rgb(202, 202, 202);

  }

  .edit-button-routine-title{
    background-color: rgb(202, 202, 202);
    border: none;
    font-family: 'Noto Sans', sans-serif;
    margin-right: 10px;
  }

  .edit-button-routine-title:hover{
   text-decoration: underline;
   
  }

  .delete-button-routine-title{
    background-color: rgb(202, 202, 202);
    border: none;
    font-family: 'Noto Sans', sans-serif;
    margin-right: 10px;
  }

  .delete-button-routine-title:hover{
    text-decoration: underline;
   
  }

  #edit-and-delete-buttons{
    padding-top: 8px;
  }

  .edit-button-routine-goal{
    border: none;
    font-family: 'Noto Sans', sans-serif;
    margin-right: 10px;
    background-color: white;
   
  }

  .edit-button-routine-goal:hover{
    text-decoration: underline;
    
   }

   #edit-button-goal-div{
    height: 20px;
   }

   #routine-goal-name-div{
    display: flex;
   }

   .edit-button-duration{
    border: none;
    font-family: 'Noto Sans', sans-serif;
    margin-right: 10px;
    background-color: white;
   
  }

  .edit-button-duration:hover{
    text-decoration: underline;
    
   }

   #my-activity-duration-content{
    display: flex;
    margin-left: 5px;
   }

   .edit-button-count{
    border: none;
    font-family: 'Noto Sans', sans-serif;
    margin-right: 10px;
    background-color: white;
    margin-left: 2px; 
   
  }

  .edit-button-count:hover{
    text-decoration: underline;
    
   }

   #my-activity-count-content{
    display: flex;
    margin-left: 5px;
   }

   .delete-activity-button{
    border: none;
    font-family: 'Noto Sans', sans-serif;
    margin-right: 12px;
    background-color: white;
    margin-bottom: 10px;
   }

   .delete-activity-button:hover{
    text-decoration: underline;
    
   }

   #delete-activity-button-div{
    display: flex;
    justify-content: flex-end;
   }